/* Title: book-details-dialog.component
Author: Megan Walker
Date: 06-25-2023
Description: Book details dialog component file for in-n-out-books app
Source: Provided by Professor Krasso, Web 425 exercises */
