<!--
  Title: about.component.html
  Author: Megan Walker
  Date: 06/03/2023
  Description: About component
  Source: Professor Krasso, Week 2 Web 425 exercises
-->
<!-- content to show about composer -->
<div class="container">
  <br /><br />
  <h2 class="text-center">Ludwig van Beethoven</h2>
  <br /><br />
  <div class="my-4"></div>
  <div class="row">
    <div class="col-sm-4">
      <img src="../../assets/beethoven.jpeg" alt="Beethoven" style="max-width: 100%; max-height: 100%;">
      <figcaption style="font-size: smaller; font-style: italic;">Bobek Ltd. (2023). Beethoven Concerto Background Free Stock Photo - Public Domain Pictures.
        Publicdomainpictures.net.
      </figcaption>
    </div>
    <div class="col-sm-8">
      <p>Ludwig van Beethoven, born in 1770, was a highly esteemed German composer and pianist. Considered a towering
        figure in the history of music, Beethoven's impact on the Classical and Romantic periods remains profound.
        Originally hailing from Bonn, he later ventured to Vienna, where he received tutelage from the renowned composer
        Joseph Haydn. Despite experiencing deafness, Beethoven continued to compose remarkable works that pushed the
        boundaries of symphonies, chamber music, and piano compositions. Famous masterpieces include his iconic Ninth
        Symphony and "Moonlight Sonata." Beethoven's enduring legacy lies in his innovative compositions, which continue
        to captivate and inspire audiences worldwide.</p>
    </div>
  </div>
</div>
