/**
 * Title: app.component.scss
 * Author: Megan Walker
 * Date: 06/25/2023
 * description: app component scss file
 * Source: Provided by Professor Krasso, Web 425 exercises
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
