<!--
  Title: contact.component.html
  Author: Megan Walker
  Date: 06/03/2023
  Description: Contact component
  Source: Professor Krasso, Week 2 Web 425 exercises
-->

<!-- content to show address and phone-->
<div class="container text-center">
  <h2>Contact Us</h2>
  <br /><br />
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <h3><i class="bi bi-house-fill"></i> Address</h3>
      <p>123 Composer Street</p>
      <p>Vienna, Vienna, 1010</p>
    </div>
    <div class="col-sm-4">
      <h3><i class="bi bi-telephone-fill"></i> Phone</h3>
      <p>(123) 456-7890</p>
    </div>
  </div>
</div>
