<!-- Title: not-found.component
Author: Megan Walker
Date: 07-02-2023
Description: not-found.component
Source: Provided by Professor Krasso, Web 425 exercises
 -->


<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 20px">
    <mat-card-title>
      <img src="./assets/not-found-image.png" />
    </mat-card-title>
    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button color="accent" routerLink="/">Return Home</button>
    </mat-card-content>
  </mat-card>
</div>
