<!-- Title: about.component
Author: Megan Walker
Date: 06-25-2023
Description: about.component file for in n out books
Source: Provided by Professor Krasso, Web 425 exercises -->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img width="250" src="../assets/Jane_Austen.jpg" />
      </div>
      <div>
        <em>
          Photo by  Duyckinick, Evert A. Portrait Gallery of Eminent Men and Women in Europe and America. New York: Johnson, Wilson & Company, 1873 <a class="attribution-link" href="https://commons.wikimedia.org/wiki/File:Jane_Austen.jpg"
            target="_blank">Unsplash</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who was Jane Austen?</h1>
    <p>
      Jane Austen (1775-1817) was a prominent English novelist whose works continue to captivate readers worldwide. Born in Hampshire, Austen demonstrated exceptional wit and observational skills through her keenly observed social commentary. Her novels, including "Pride and Prejudice," "Sense and Sensibility," and "Emma," delved into the intricacies of 18th-century English society, offering sharp critiques of class, gender, and romance. Austen's works are celebrated for their lively dialogue, realistic characters, and timeless themes. Her enduring legacy as a master storyteller has made her an iconic figure in English literature.
    </p>
    <em>Biography by: Megan Walker</em>
  </div>
